body {
    font-size: 14px;
    background-color: black;
    background-image: url("stars.gif");
    background-repeat: repeat;
    color: white;
}
#loading-element {
  display: flex;
  position: absolute;
  height: 600px;
  bottom: 61px;
  width: 407px;
  justify-content: center;
  align-items: center;
}

h1 {
    font-family:'Old English Gothic Pixel Regular', cursive;
    font-weight: normal;
    font-size: 3.25rem;
    text-align: center;
    margin-top: 25px;
    text-shadow:
    0 0 10px #813cb9,
    0 0 20px #813cb9,
    0 0 42px #260b45,
    0 0 70px #4b128d,
    0 0 50px #4b128d;
}

#cat {
    font-family: 'Pirata One', cursive;
    font-weight: normal;
    font-size: 1.75rem;
    text-align: center;
    position: relative;
    top: -90px;
    color: #ede5f8;
    text-shadow:
    0 0 10px #a556e6,
    0 0 20px #9941e1,
    0 0 30px #4b128d,
    0 0 50px #4b128d,
    0 0 55px #250846;

}

#catclass, #catrace {
    font-family: 'VT323', monospace;
    font-weight: 300;
    font-size: 1.25rem;
    text-align: center;
    color: #ede5f8;
    margin-top: 5px;
    text-shadow:
    0 0 10px #a556e6,
    0 0 20px #9941e1,
    0 0 30px #4b128d,
    0 0 50px #4b128d,
    0 0 55px #250846;
}

h5 {
    font-family: 'VT323', monospace;
    text-align: center;
    font-size: 0.75rem;
    position: relative;
    top: -30px;

}
simple-loader {
  filter: brightness(2);
}
.flexcont {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.specs {
    position: relative;
    top: -90px;
    display: flex;
    flex-direction: row;
    width: 407px;
    justify-content: center;
    justify-content: space-evenly;
}

#cat-canvas {
    height: 600px;
    width: min-content;
}

#button {
    position: relative;
    top: -35px;
}

.button {
  font-family: 'VT323', monospace;
  font-size: 23px;
  text-decoration: none;
  background-image: url("stars.gif");
  text-transform: uppercase;
  color: #65368d;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 3px 3px 0px 0px, 3px 3px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
#cat-container {
    width: 407px;
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px;
}
.button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button {
    padding: 0.25em 0.75em;
  }
}

a:link {
    color: #d2b1e2;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }

  a:visited {
    color: #d4b4e3;
    text-decoration: none;
  }